<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>Sample - Bootstrap Media Query</title>
    <link rel="stylesheet" href="/assets/stylesheets/bundle.css" />
  </head>
  <body class="page-bs-media-query">
    <main class="my-4">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="S_meta">
              <h2 class="S_meta__ttl">Sample - Bootstrap Media Query</h2>
              <h3 class="S_meta__sub-ttl">
                Bootstrapのメディアクエリ(ブレイクポイント)をただコピペで再現しているだけ
              </h3>
              <p class="S_meta__txt">
                Bootstrapのグリッドシステムの理解に用意したページ。<br />
                ただそれだけです。
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row mb-3">
          <div class="col-12">
            <h3 class="h5">Mobile First</h3>
            <p>
              the columns have col-12, col-xs-12, col-sm-6, col-md-4, col-lg-3
              and col-xl-2 class.<br />
              ※ Actually, col-xs-12 is not nescesary. ( col-12 = col-xs-12 )
            </p>
          </div>
        </div>
        <div class="row media-query-test mb-4">
          <div
            class="media-query-test__item media-query-test__item--type_mobile-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
          ></div>
          <div
            class="media-query-test__item media-query-test__item--type_mobile-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
          ></div>
          <div
            class="media-query-test__item media-query-test__item--type_mobile-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
          ></div>
          <div
            class="media-query-test__item media-query-test__item--type_mobile-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
          ></div>
          <div
            class="media-query-test__item media-query-test__item--type_mobile-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
          ></div>
          <div
            class="media-query-test__item media-query-test__item--type_mobile-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
          ></div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <h3 class="h5">PC First</h3>
            <p>
              the columns have col-12, col-xs-12, col-sm-6, col-md-4, col-lg-3
              and col-xl-2 class.<br />
              ※ Actually, col-xs-12 is not nescesary. ( col-12 = col-xs-12 )
            </p>
          </div>
        </div>
        <div class="row media-query-test mb-4">
          <div
            class="media-query-test__item media-query-test__item--type_pc-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
          ></div>
          <div
            class="media-query-test__item media-query-test__item--type_pc-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
          ></div>
          <div
            class="media-query-test__item media-query-test__item--type_pc-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
          ></div>
          <div
            class="media-query-test__item media-query-test__item--type_pc-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
          ></div>
          <div
            class="media-query-test__item media-query-test__item--type_pc-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
          ></div>
          <div
            class="media-query-test__item media-query-test__item--type_pc-first col-12 col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2"
          ></div>
        </div>
      </div>
    </main>

    <script src="/assets/javascripts/bundle.js"></script>
  </body>
</html>
